@use '~/assets/styles/setup' as *;

.hero-wrapper {
	height: toRem(400);
	width: 100%;
	color: white;
	font-weight: bold;
	font-size: toRem(48);
	text-transform: uppercase;
	letter-spacing: toRem(2);
	text-align: center;
	position: relative;

	.hero-text {
		position: absolute;
		z-index: 2;
		width: 100%;
		padding-top: toRem(16);
		.hero-title {
			text-decoration: underline;
			text-underline-offset: toRem(12);
		}

		.hero-food {
			font-size: toRem(24);
			font-weight: normal;
			margin-top: toRem(16);
			letter-spacing: 1px;
		}
	}

	.hero-image-scrim {
		position: absolute;
		z-index: 1;
		background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
		height: toRem(400);
		width: 100%;
	}

	.hero-image {
		width: 100%;
		height: 100%;
		object-fit: cover;

		.hero-image-scrim {
			background: black;
			width: 100%;
			height: 100%;
		}
	}

	.hero-goto-button {
		position: absolute;
		z-index: 2;
		bottom: toRem(16);
		right: toRem(16);
	}
}
