@use '~/assets/styles/setup' as *;

.create-recipe-page-wrapper {
	width: 100vw;
	height: 100%;
	border-top: toRem(2) solid black;

	.add-image-wrapper {
		height: toRem(220);
		border-bottom: toRem(2) solid black;
		display: flex;
		align-items: center;
		justify-content: center;

		.added-image-wrapper {
			width: 100%;
			height: 100%;

			.remove-image-icon {
				position: absolute;
				top: toRem(72);
				right: toRem(16);
				width: toRem(32);
				cursor: pointer;

				* {
					fill: black;
				}
			}

			.added-image {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.add-image-input {
			border-radius: 100rem;
			width: 80vw;
			height: toRem(28);
			border: none;
			padding: toRem(4) toRem(16);
			margin-bottom: toRem(16);
			background: rgba(0, 0, 0, 0.35);
			color: white;
		}

		.add-image-action {
			background: $secondary-color;
			color: $secondary-text-color;
			height: 2rem;
		}
	}

	.create-recipe-form-wrapper {
		display: flex;
		justify-content: center;
		margin: toRem(8);
		.title-input {
			border-radius: 100rem;
			width: 100%;
			height: toRem(28);
			border: none;
			padding: toRem(4) toRem(16);
			margin-bottom: toRem(16);
			background: rgba(0, 0, 0, 0.35);
			color: white;
		}
	}
}
