@use '~/assets/styles/setup' as *;

.root-header-wrapper {
	height: toRem(102);
	padding-left: toRem(16);

	.root-header-current-user {
		all: unset;
		display: flex;
		align-items: center;
		font-size: toRem(32);
		cursor: pointer;

		.user-wrapper {
			.header-user-icon {
				img {
					width: toRem(64);
					margin-right: toRem(16);
				}
			}
		}
	}

	.root-header-title-logo {
		position: absolute;
		top: toRem(16);
		left: 50%;
		transform: translateX(-50%);

		.header-logo {
			width: toRem(64);
		}

		.header-title {
			font-size: toRem(56);
		}
	}
}
