@use '~/assets/styles/setup' as *;

.root-header-wrapper {
	height: toRem(64);
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.root-header-current-user {
		display: none;
	}

	.root-header-title-logo {
		display: flex;
		align-items: center;
		gap: toRem(4);
		padding: toRem(5) 0 0 toRem(5);
		width: fit-content;
		.header-logo {
			width: toRem(48);
		}
		.header-title {
			font-size: toRem(32);
			font-weight: bold;
			padding: 0;
		}
	}
}
