@use '~/assets/styles/setup' as *;

.root-header-wrapper {
	height: toRem(64);
	font-size: toRem(32);
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 toRem(16);

	.root-header-title-logo {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: toRem(8);
		position: absolute;
		left: 50%;
		transform: translateX(-50%);

		img {
			width: toRem(48);
		}
	}

	.root-header-right {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: toRem(32);

		.header-search-icon {
			width: toRem(32);
		}
	}
}
