@use "~/assets/styles/setup" as *;

.user-icon-wrapper {
  height: toRem(64);

  .user-icon {
    border: none;
    img {
      width: toRem(64);
    }
  }
  .user-btn {
    display: inline;
    .user-icon-login-cue {
      font-weight: lighter;
      font-size: toRem(24);
    }
  }
}
