@use '~/assets/styles/setup' as *;

.user-icon-wrapper{
	& > * {
		border: 1px solid black;
		border-radius: 100%;
		width: toRem(48);
		height: toRem(48);
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 1rem;
	}
}