@use '~/assets/styles/setup' as *;

.user-icon-wrapper{
	width: toRem(32);
	height: toRem(32);
	margin-right: toRem(8);
	overflow: hidden;

	
	& > * {
		border: 1px solid black;
		border-radius: 100%;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}