@use '~/assets/styles/setup' as *;

.page-content-wrapper {
	.product-listings {
		margin-top: 1rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
		justify-items: center;
	}
}
