@use '~/assets/styles/setup' as *;

.page-content-wrapper {
	display: flex;
	flex-direction: column;
	.product-listings {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: toRem(6);
	}
}
