$primary-color: #d8e4ff;
$secondary-color: #6b818c;
$tertiary-color: #35605a;
$primary-text-color: #000000;
$button-primary-color: #d8e4ff;
$button-secondary-color: #8dc3ef;
$text-link-color: #8aaeff;
$text-error-color: #ff0000;
