$primary-color: #d8e4ff;
$secondary-color: #6b818c;
$tertiary-color: #35605a;
$card-color: #ffffff4d;
$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$button-primary-color: #d8e4ff;
$button-secondary-color: #8dc3ef;
$text-link-color: #4f76d1;
$text-bad-color: #b20c0c;
