@use '~/assets/styles/setup' as *;

// .user-icon-wrapper {
// 	height: toRem(64);

// 	img {
// 		width: toRem(64);
// 	}

// 	.user-icon-login-cue {
// 		display: block;
// 		font-weight: lighter;
// 		font-size: toRem(24);
// 	}
// }
