@use '~/assets/styles/setup' as *;

.site-button-main {
	height: toRem(38);
	min-width: toRem(112);
	padding: toRem(12);
	color: black;
	font-size: toRem(16);
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: none;
	letter-spacing: 0;

	cursor: pointer;
}

.primary {
	background-color: $button-primary-color;
}

.secondary {
	background-color: $button-secondary-color;
}
