@use '~/assets/styles/setup' as *;

.recipe-page-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.recipe-info-section {
		.recipe-thumbnail {
			object-fit: contain;
			width: 100%;
			max-height: toRem(992);
		}

		.recipe-information {
			padding: toRem(8);
			.recipe-title {
				font-size: toRem(24);
			}

			.recipe-author {
				font-size: toRem(14);
				display: block;
				padding: 0;
				height: fit-content;
				margin-top: toRem(4);

				span {
					color: $text-link-color;
					text-decoration: underline;
				}
			}

			.recipe-desc {
				border: toRem(2) solid black;
				min-height: toRem(128);
				max-height: toRem(372);
				border-radius: toRem(8);
				padding: toRem(4);
				overflow: scroll;
			}
		}
	}

	.recipe-instruction-section {
		display: flex;
		flex-direction: column;
		gap: toRem(12);
		padding: toRem(8);

		.reqs-list {
			li {
				display: flex;
				padding-left: toRem(8);
				div {
					flex: 1;
				}
				.count-unit {
					display: flex;
					justify-content: space-between;
				}
				&:nth-child(odd) {
					background: rgba(0, 0, 0, 0.175);
				}
			}
		}
		.instructions-list {
			li {
				padding: toRem(8);
				.step-title {
					font-size: toRem(20);
					font-weight: bold;
					text-decoration: underline;
					margin-bottom: toRem(4);
				}
			}
		}
	}
}
